* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-size: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-family:'SNES';
  color: red;
  font-style: justify;
  font: size 32px;
}

h2 {
  font-family:'SNES Italic';
  color: red;
  font-size: 50px;
  position: justify center;
}

h3 {
  font-family: 'Merriweather Sans', sans-serif;
  color: black;
}

p {
  font-family: 'Roboto Slab', serif;
  color: black;
}

nav {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-items: stretch;
  width: 100%;
  background-color: red;
  overflow: hidden;
  height: 50px;
  border-color: red;
  color: red;
  content: color white;
  font-family: SNES;
  font-display: center;
}

a {
  float: center;
  color: white;
  text-align: justify;
  text-decoration: none;
  font-size: 36px;
  background-color: red;
  margin-right: 2rem;
}


.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}

#socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}

.socials li {
  margin: 0 10px;
}

.socials a {
  text-decoration: none;
  color: white;
}

.footer-bottom {
  background-color: red;
  width: 100vw;
  padding: 5px;
  text-align: end;
}

.footer-bottom p {
  font-size: 14 px;
  word-spacing: 2px;
  text-transform: capitalize;
}